dataclasses-json
inquirer
datetime
paramiko
tabulate
markdown
html5lib
colorama  # optional -- only needed if using an old Windows terminal
pyvis  # optional -- only needed when generating graph visualisations
lxml  # optional -- only needed when generating a kill-graph visualisation
